.loaded {
    -webkit-animation: rotation .8s infinite linear;
    animation: rotation .8s infinite linear;
}

.hide {
    display: none;
}

@keyframes crescendo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}
